    * {
        padding: 0;
        margin: 0;
    }
    
    .sub1 {
        background-image: url(./images/landing.jpg);
        height: 500px;
        background-size: cover;
    }
    
    #sub1 {
        margin-left: 600px;
        color: white;
        font-family: sans-serif;
        font-size: 30PX;
    }
    
    #mky {
        word-spacing: 20px;
        width: 200px;
        margin-top: 150px;
    }
    
    .bin {
        display: flex;
        
    }
    
    .champ {
        
    }
    
    #champ1 {
        width: 300px;
        height: 80px;
        border-color: black;
        text-align: center;
    }
    
    #champ2 {
        width: 300px;
        height: 80px;
        background-color: orangered;
        text-align: center;
        flex-direction: column;
    }
    
    #champ3 {
        width: 300px;
        height: 160px;
        background-image: url(./images/breakfast.jpg);
        background-repeat: no-repeat;
        color: white;
        text-align: center;
    }
    
    #champ4 {
        width: 300px;
        height: 160px;
        background-image: url(./images/lunch.jpg);
        color: white;
        text-align: center;
    }
    
    #champ5 {
        width: 300px;
        height: 160px;
        background-image: url(./images/dinner.jpg);
        color: white;
        text-align: center;
    }

    .EAST {
        display: flex;
        padding-left: 25%;
        margin-top: 70px;
    }

    #one {
        padding-left: 100px;
        padding-right: 100px;
        line-height: 2 em;
    }
     
    #pic101 {
        /* height: 100px; */
        width: 300%;
        margin-top: -10px;
    }

    #pic102 {
        margin-bottom: 400px;
    }

    .east101 {
        
    }
    section{
        height: 300px;
        display: flex;
        align-items: center;
    }

    .king {
        margin-top: 20px;
        text-transform: uppercase;
        border: 1px solid orangered;
        width: 35%;
        text-align: center; 
    }

    .king :hover{
        background-color: tomato;
        color: white;
    }

    .UNO{
        width: 70%
    }

    #lion {
        display: flex;
        box-shadow: 5px, 5px,  black;
        padding-right: 450px;
    }

    .west {
        padding-left: 400px ;
    }

    #leo {
        background-image: url(./images/foodsBg.jpg);
        width: 100%;
        height: 350px;
        margin-top: 70px;
        border: black solid;
    }

    #sok {
        color: white;
        align-items: center;
        margin-left: 25%;
        margin-top: 50px;
    }

    #gnabry {
        display: flex;
    
    }

    .amin{
        width:55%;
        margin-top: 15%;
        text-align: center;
        margin-left: 25%;
        height: 225px;
        box-shadow: 5px 5px 5px 5px grey;
    }

    .smart {
        width: 100%;
        height: 220px;
        margin-top: 10%;
        background-image: url(./images/subscribe.jpg);
        color: white;
    }
